* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5faff;
}
header {
  text-align: center;
}

header h1 {
  background-color: #d9faf2;
  color: #3e736d;
  margin: 24px 0;
}

header nav {
  background-color: #e6f2fc;

  font-size: 60;
}

a {
  color: #3a699c;
  text-decoration: none;
  margin: 0 3px;
}

header nav a:hover {
  background-color: dodgerblue;
  color: white;
}

img {
  width: 60%;
  margin: 12px 0;
}

section {
  background-color: white;
  margin-bottom: 20px;
  padding: 5px;
}

section h2 {
  color: #355d73;
  margin-bottom: 24px;
}

.introduct p {
  margin-top: 20px;
}

i {
  color: rgb(153, 153, 153);
}

ul {
  padding: 0 48px;
}

section li:hover {
  background-color: deepskyblue;
  color: mediumblue;
}

footer {
  text-align: center;
  background-color: #3e736d;
  color: white;
}
